.boton-contenedor {
	height: 83px;
	display: flex;
	flex: 1 1;
	justify-content: center;
	align-items: center;
	font-size: 38px;
	background-color: rgb(83, 83, 83);
	color: white;
	border-radius: 100%;
	margin: 4px;
	cursor: pointer;
	user-select: none;
}

.boton-contenedor:hover {
	background-color: gray;
}

.operador {
	background-color: #f1b100;
}

.operador:hover {
	background-color: #ffda76;
}

.boton-especial {
	background-color: rgb(52, 140, 241);
}

.boton-especial:hover {
	background-color: rgb(120, 183, 255);
}